.content-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.card{
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.card-status-circle {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50px;
}
.card-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
